@import "tailwindcss";


[data-theme='dark'] {
  --bg-color: #111;
  --text-color: #f1f1f1;
}

[data-theme='light'] {
  --bg-color: #fff;
  --text-color: #111;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
